@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto.woff2') format('woff2'),
       url('/fonts/roboto.woff') format('woff'),
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/robotomedium.woff2') format('woff2'),
       url('/fonts/robotomedium.woff') format('woff'),
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/robotobold.woff2') format('woff2'),
       url('/fonts/robotobold.woff') format('woff'),
}

.backgroud-container{
  background-color: #eee;
}

body{
  min-width: 1200px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.sliders{
  display: flex;
  justify-content: center;
}

.lead {
  font-size: 55px;
  line-height: 55px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.detail-lead{
  margin-bottom: 45px;
}

.btn{
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  color:white;
}

.btn-know{
  padding: 13px 54px 15px 53px;
}

.btn-error{
  color: #fff;
  background-color: #fb565a;
}

.btn-info{
  color: #fff;
  background-color: #efc84a;
}

.btn-success{
  color: #fff;
  background-color: #00ca74;
}

.btn-order{
  padding: 13px 39px 15px 40px;
}

.slider{
  width: 100%;
  height: 413px;
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: right;
}

.main-header{
  justify-content: space-between;
  align-items: center;
  padding-top: 49px;
}

.container{
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation{
  width: 440px;
}

.basket{
  width: 160px;
  text-align: right;
}


.main-navigation ul{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;

  list-style: none;

}

.main-header a{
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color:black;
}

.orders{
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
  justify-content: space-between;
}

.order{
  width: 300px;
}

.order:last-child{
  margin-right: 60px;
}

.order b{
  display: block;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 24px;
}

.order p{
  margin-bottom: 35px;
}
.about{
  justify-content: space-between;
}

.description{
  width: 660px;
}

.advantages{
  width: 360px;
}

.advantages .title{
  margin-top: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.advantage {
  display: inline-block;
  width: 100px;
  margin-right: 15px;
}

.advantage b{
  display: block;
  margin-top: 45px;
  margin-bottom: 25px;
  font-size: 45px;
}

.advantage p{
  display: block;
}

.partners {
  position: relative;
  height: 182px;
  padding: 0;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.partner-logo::after {
    content: "";
    position: absolute;
    left: 253px;
    top: 23px;
    width: 2px;
    height: 52px;
    background-color: #eeeeee;
}


.main-footer {
  margin-top: 40px;
  margin-bottom: 70px;
}

.contacts {
  height: 416px;
  background-color: #e9e5dc;
  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.feedback{
  box-sizing: border-box;
  width: 320px;
  margin-top: 54px;
  padding: 55px 50px;
  background-color: white;
  color: #666666;
  font: inherit;
}

.contacts > .container{

}

.btn-feedback{
  padding: 13px 45px 15px 46px;
}
