@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto.woff2') format('woff2'),
       url('/fonts/roboto.woff') format('woff'),
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/robotomedium.woff2') format('woff2'),
       url('/fonts/robotomedium.woff') format('woff'),
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/robotobold.woff2') format('woff2'),
       url('/fonts/robotobold.woff') format('woff'),
}

.backgroud-container{
  background-color: #eee;
}

body{
  min-width: 1200px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.sliders{
  display: flex;
  position: relative;
  height: 413px;
  justify-content: center;
}

.slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 413px;
  background-repeat: no-repeat;
  background-position: right;
}

.slider.item1{
  background-image: url(../img/slide1.png);
}

.slider.item2{
  display: none;
  background-image: url(../img/slide2.png);
}

.slider.item3{
  display: none;
  background-image: url(../img/slide3.png);
}

.sliders .switch{
  display: flex;
  justify-content: space-between;
  width: 88px;
  height: 18px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  left: 50%;
  bottom: 95px;
}

.switch li{
  position: relative;
}

.lead {
  font-size: 55px;
  line-height: 55px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.detail-lead{
  margin-bottom: 45px;
}

.btn{
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  color:white;
}

.btn-know{
  padding: 13px 54px 15px 53px;
}

.btn-error{
  color: #fff;
  background-color: #fb565a;
}

.btn-info{
  color: #fff;
  background-color: #efc84a;
}

.btn-success{
  color: #fff;
  background-color: #00ca74;
}

.btn-order{
  padding: 13px 39px 15px 40px;
}

.main-header{
  justify-content: space-between;
  align-items: center;
  padding-top: 49px;
}

.container{
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation{
  width: 440px;
}

.basket{
  width: 160px;
  text-align: right;
}

.basket>a{
  position: relative;
}

.basket>a::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/sprites.png") no-repeat;
  background-position: -5px -66px;
  opacity: 0.3;
}

.main-navigation ul{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;

  list-style: none;

}

.main-header a{
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color:black;
}

.orders{
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
  justify-content: space-between;
}

.order{
  width: 300px;
}

.order:last-child{
  margin-right: 60px;
}

.order b{
  display: block;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 24px;
}

.order p{
  margin-bottom: 35px;
}
.about{
  padding-top: 40px;
  justify-content: space-between;
}

.description{
  width: 660px;
}

.advantages{
  width: 360px;
}

.advantages .title{
  margin-top: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.advantage {
  display: inline-block;
  width: 100px;
  margin-right: 15px;
}

.advantage b{
  display: block;
  margin-top: 45px;
  margin-bottom: 25px;
  font-size: 45px;
}

.advantage p{
  display: block;
}

.partners {
    padding-top: 45px;
    padding-bottom: 33px;
    margin-bottom: 80px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    text-align: center;
    font-size: 0;
}

.partner-logo {
    width: 280px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    position: relative;
}

.partner-logo:after {
    content: "";
    width: 2px;
    height: 50px;
    background: #eeeeee;
    position: absolute;
    top: 50%;
    right: -1px;
    transform: translateY(-50%);
}

.partner-logo:last-child {
    margin-right: 0;
    width: 260px;
}

.partner-logo:last-child:after {
    display: none;
}


.main-footer {
  margin-top: 40px;
  margin-bottom: 70px;
}

.contacts {
  height: 416px;
  background-color: #e9e5dc;
  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.feedback{
  box-sizing: border-box;
  width: 320px;
  margin-top: 54px;
  padding: 55px 50px;
  padding-bottom: 40px;
  background-color: white;
  color: #666666;
  font: inherit;
}

.feedback header{
  margin-bottom: 30px;
  color: black;
  font-weight: bold;
}

.feedback a {
  margin-top: 25px;
}

.btn-feedback{
  padding: 17px 45px 17px 45px;
}

.social{
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.social > a{
  position: relative;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
  font-size: 0;
}

.social-vk::after{
  position: absolute;
  content: '';
  left: 25px;
  top: 28px;
  width: 26px;
  height: 22px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: 0 -44px;
}

.social-fb::after{
  position: absolute;
  content: '';
  left: 25px;
  top: 28px;
  width: 26px;
  height: 22px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: 0 -22px;
}

.social-inst::after{
  position: absolute;
  content: '';
  left: 25px;
  top: 28px;
  width: 26px;
  height: 22px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: 0 0;
}

.main-footer > .container{
  align-items: center;
  margin-top: 70px;
}

.offer{
  margin-left: 140px;
}
.offer b{
  font-size: 36px;
  line-height: 36px;
}

.offer p{
  margin-top: 10px;
  margin-bottom: 0;
}

.description{
  margin-top: 40px;
  margin-bottom: 65px;
}

.description b {
  display: block;
  margin-bottom:38px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.description ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.description ul > li{
  position: relative;
  padding: 14px 0;
  padding-left: 35px;
}

.do {
  margin-top: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

.description li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: 0;
  bottom: 22px;
  background-color: #fb565a;
}

.switch .radio-custom-label span{
  font-size: 0;
}

/* Стилизированный radio
*/
.radio-custom-label {
  position: relative;
}

input[type="radio"] {
  display: none;
}

.radio-custom-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
}

.radio-custom-label input[type="radio"]:checked~span::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid #b8b8b8;
}

/*.radio-custom:hover::before {
  border: 4px solid #4d4d4d;
}*/

/*.radio-custom>input[type="radio"]:hover:checked::after {
  background-color: #4d4d4d;
}

.radio-custom:disabled::before {
  border: 4px solid #ededed;
}

.radio-custom>input[type="radio"]:disabled:checked::after {
  background-color: #ededed;
}*/
