@font-face {
    font-family: Roboto; /* Гарнитура шрифта */
    src: url(../fonts/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
   }

.backgroud-container{
  background-color: #eee;
}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.sliders{
  display: flex;
  justify-content: center;
}

.lead {
  font-size: 55px;
  line-height: 1;
  margin-top: 81px;
  margin-bottom: 29px;
}

.detail-led{
  line-height: 1.5;
  margin-bottom: 45px;
}

.btn{
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  color:white;
}

.btn-know{
  padding: 13px 54px 15px 53px;
}

.btn-error{
  background-color: #fb565a;
}

.btn-info{
  background-color: #efc84a;
}

.btn-success{
  background-color: #00ca74;
}

.btn-order{
  padding: 13px 39px 15px 40px;
}

.slider{
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
  height: 413px;

  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: right;
}

.main-header{
  display: flex;
  justify-content: space-between;
  width: 1160px;
  align-items: center;
  padding-top: 49px;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation{
  width: 440px;
}

.basket{
  width: 160px;
  text-align: right;
}


.main-navigation ul{
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;

  list-style: none;

}

.main-header a{
  text-decoration: none;
  text-transform: uppercase;
  color:black;
}

.orders{
  display: flex;
  margin-left:auto;
  margin-right: auto;
  width: 1160px;
  justify-content: space-between;
}

.order{
  margin-top: 80px;
  width: 300px;
  height: 146px;
}

.order:last-child{
  margin-right: 60px;
}

.order b{
  display: block;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 24px;
}

.order p{
  margin-bottom: 35px;
}
